<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">BitFunk</a>
  <form class="form-inline ml-auto">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" [(ngModel)]="searchQuery">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="filterCoins()">Search</button>
    <button class="btn btn-outline-secondary my-2 my-sm-0 ml-2" type="button" (click)="resetFilter()">Reset</button>
  </form>
</nav>

<div class="container mt-3">
  <div class="row">
    <div class="col" *ngFor="let coin of filteredCoins">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ coin.name }} ({{ coin.symbol }})</h5>
          <p class="card-text">Rank: {{ coin.rank }}</p>
          <p class="card-text">Price: {{ coin.priceUsd | currency }}</p>
          <p class="card-text">24Hr Change: {{ coin.changePercent24Hr | percent }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
